* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

/* -----------------------------------------PORTADA------------------------------------------ */
/* FONDO PORTADA */
.header {
  height: 100vh;
  background: rgba(28, 89, 145, 1);
  background: -webkit-linear-gradient(
    to right,
    rgba(28, 89, 145, 1) 0%,
    rgba(28, 89, 145, 0.9) 100%
  );
  background: linear-gradient(
    to right,
    rgba(28, 89, 145, 1) 0%,
    rgba(28, 89, 145, 0.9) 100%
  );
}

/* ANIMACION PORTADA */
.ani-portada {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}
.ani-portada li {
  position: absolute;
  display: block;
  list-style: none;
  bottom: -150px;
  background-size: cover;
  animation: ani-portada 15s linear infinite;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.ani-portada li:nth-child(1) {
  left: 25%;
  width: 5em;
  height: 5em;
  animation-delay: 3s;
}
.ani-portada li:nth-child(2) {
  left: 5%;
  width: 5em;
  height: 5em;
  animation-delay: 4s;
  animation-duration: 12s;
}
.ani-portada li:nth-child(3) {
  right: 30%;
  width: 4.37em;
  height: 4.37em;
  animation-delay: 3s;
}
.ani-portada li:nth-child(4) {
  left: 45%;
  width: 3.75em;
  height: 3.75em;
  animation-duration: 16s;
}
.ani-portada li:nth-child(5) {
  right: 37%;
  width: 3.75em;
  height: 3.75em;
}
.ani-portada li:nth-child(6) {
  right: 10%;
  width: 6.87em;
  height: 6.87em;
  animation-delay: 5s;
}
.ani-portada li:nth-child(7) {
  left: 30%;
  width: 8.1em;
  height: 8.1em;
  animation-delay: 4s;
  animation-duration: 20s;
}
.ani-portada li:nth-child(8) {
  left: 50%;
  width: 3.43em;
  height: 3.43em;
  animation-delay: 7s;
  animation-duration: 18s;
}
.ani-portada li:nth-child(9) {
  left: 21%;
  width: 3.12em;
  height: 3.12em;
  animation-delay: 4s;
  animation-duration: 15s;
}
.ani-portada li:nth-child(10) {
  left: 12%;
  width: 6.25em;
  height: 6.25em;
  animation-duration: 22s;
}
.ani-portada li:nth-child(11) {
  right: 20%;
  width: 5em;
  height: 5em;
  animation-delay: 6s;
  animation-duration: 25s;
}
@keyframes ani-portada {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.6;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0.1;
    border-radius: 50%;
  }
}

/* BOTON GENERAL */
.boton {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: rgba(248, 99, 0, 1);
  color: rgb(255, 255, 255);
}
.boton:hover {
  background: rgba(248, 99, 0, 0.9);
}

/* CONTENIDO PORTADA */
.portada {
  /* position: fixed; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.portada h1 {
  font-size: 50px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  animation: portada-h1 4s;
}
@keyframes portada-h1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.portada h1 span {
  border-radius: 0 0 0 10px;
  padding-left: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.portada h2 {
  font-weight: 500;
  font-size: 26px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  animation: portada-h2 4s;
}
@keyframes portada-h2 {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.portada h2 span {
  border-radius: 0 0 0 10px;
  padding-left: 5px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

/* BOTON MENU NAVEGACION */
.btn-menu {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: rgba(248, 99, 0, 1);
  color: rgb(255, 255, 255);
  z-index: 1;
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  transition: transform 0.2s linear;
  transform: scale(1);
  animation: boton-menu 1s ease-out;
}
@keyframes boton-menu {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.btn-menu:hover {
  transition: transform 0.2s linear;
  transform: scale(1.15);
}

/* MENU NAVEGACION */
.menu-navegacion {
  font-size: 18px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.menu-navegacion a {
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 15px;
}
.menu-navegacion a:hover {
  color: rgba(248, 99, 0, 0.965);
  animation: menu-nav-hover 0.8s linear alternate;
}
@keyframes menu-nav-hover {
  0% {
    background: rgba(255, 255, 255, 0.08);
  }
  100% {
    background: rgba(8, 8, 8, 0);
  }
}
/* JS */
.movMenu {
  transform: translateX(0);
}
/* JS */
.ocultarBtnMenu {
  display: none;
}

/* BOTON CERRAR */
.btn-cerrar {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
}

/* -----------------------------------------SOBRE MI------------------------------------------ */
/* SECTION SOBRE MI */
.sobre-mi {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* SECTION FOTO SOBRE MI */
.sm-foto {
  width: 50%;
  height: 100% auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sm-foto img {
  width: 250px;
  margin: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.sm-foto a {
  margin-bottom: 20px;
}
/* SECTION CONTENIDO SOBRE MI */
.sm-contenido {
  color: rgb(255, 255, 255);
  width: 50%;
  height: 100% auto;
  padding: 30px;
  background: rgb(28, 88, 145);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.sm-contenido h2 {
  margin: 20px 0;
}
.sm-contenido img {
  width: 70px;
  margin: 10px;
}
.div-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logos {
  margin: 10px;
  border-radius: 0 0 0 10px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.ani-sobremi {
  opacity: 0;
}
/* JS */
.aniSobremiE1 {
  opacity: 1;
  animation: des 1s ease-out;
}
@keyframes des {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
/* JS */
.aniSobremiE2 {
  animation: des4 1s ease-out;
}
@keyframes des4 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}
.ani-portafolio {
  opacity: 0;
}
/* JS */
.aniPortafolioE1 {
  opacity: 1;
  animation: des2 1.5s ease;
}
@keyframes des2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* JS */
.aniPortafolioE2 {
  animation: des3 2s ease;
}
@keyframes des3 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/* -----------------------------------------PORTAFOLIO------------------------------------------ */
.portafolio {
  margin-top: 0px;
  padding-bottom: 50px;
  background: rgb(0, 0, 0);
}
.portafolio h2 {
  color: rgb(255, 255, 255);
  padding: 30px;
  text-align: center;
}
.cont-portafolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cont-proyecto {
  width: 30%;
  margin-bottom: 20px;
  transition: transform 1s;
  transform: translateY(0);
}
.cont-proyecto:hover {
  transition: transform 1s;
  transform: translateY(-5px);
}
.cont-pro-sup {
  width: 100%;
  padding: 20px;
  background: rgb(255, 255, 255);
}
.cont-pro-sup img {
  width: 100%;
  display: block;
  margin-bottom: 0px;
  cursor: pointer;
}
.cont-pro-sup img:hover {
  opacity: 0.8;
}
.cont-pro-inf {
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.85);
}
.cont-pro-inf span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.541);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
  line-height: 60px;
}
.cont-pro-inf div {
  width: 100%;
  display: flex;
}
.cont-pro-inf a {
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgba(41, 126, 30, 1);
}
.cont-pro-inf a:hover {
  background: rgba(41, 126, 30, 0.9);
}
.img-pro-zoom {
  z-index: 3;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}
.agregar-img {
  width: 80%;
  transform: scale(0);
  border-radius: 10px;
  transition: transform 0.3s 0.2s;
}
/* JS */
.zoomImg {
  transform: scale(1);
}
/* JS */
.movZoomImg {
  transform: translate(0);
}

/* -----------------------------------------CONTACTO------------------------------------------- */
/* FORMULARIO CONTACTO */
.contacto {
  width: 100%;
  padding: 50px 0px;
  background: rgba(28, 89, 145, 0.8);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msj-contacto {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.msj-flotante {
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 128, 0, 0.9);
  text-align: center;
}
form {
  margin: auto;
  background: rgb(255, 255, 255);
  color: rgba(28, 89, 145, 0.8);
  width: 500px;
  padding: 10px 0;
  border-radius: 0px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.form h2 {
  text-align: center;
  margin: 10px 0;
}
.form div {
  position: relative;
  margin: 45px;
}
input,
textarea {
  background: none;
  color: rgba(28, 89, 145, 0.8);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(28, 89, 145, 0.3);
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid rgba(28, 89, 145, 0.3);
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  position: absolute;
  top: -18px;
  color: rgba(28, 89, 145, 0.3);
}

.form label {
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}
button {
  font-family: "Quicksand", sans-serif;
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  margin: 10px auto;
}

/* ---------------------------------PIE DE PAGINA REDES SOCIALES-------------------------------- */
footer {
  background: rgb(0, 0, 0);
  padding-bottom: 0.1px;
}
.footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}
.marca {
  width: 50%;
  color: rgba(255, 255, 255, 0.705);
}
.marca h2 {
  font-size: 40px;
}
.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.social-media-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
}
.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}
.social-media-icon:hover {
  color: rgb(255, 255, 255);
  
}
.linea {
  width: 90%;
  margin: auto;
  height: 2px;
  background: rgba(255, 255, 255, 0.678);
  margin-bottom: 60px;
}

/* -----------------------------------------RESPONSIVE------------------------------------------ */
/* HASTA 768PX */
@media screen and (max-width: 768px) {
  .ani-portada {
    font-size: 12px;
  }
  .btn-menu {
    top: 20px;
    right: 20px;
  }
  .btn-cerrar {
    top: 20px;
    right: 20px;
  }
  .portada h1 {
    font-size: 40px;
  }
  .menu-navegacion {
    width: 50vw;
  }
  .sm-foto {
    width: 100%;
  }
  .sm-contenido {
    width: 100%;
  }
  .cont-proyecto {
    width: 45%;
  }
  .agregar-img {
    width: 90%;
  }
  .marca {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .social-media {
    width: 100%;
    justify-content: space-evenly;
  }
}

/* HASTA 578PX */
@media screen and (max-width: 578px) {
  .ani-portada {
    font-size: 9px;
  }
  .btn-menu {
    top: 10px;
    right: 10px;
  }
  .btn-cerrar {
    top: 10px;
    right: 10px;
  }
  .portada h1 {
    font-size: 30px;
  }
  .menu-navegacion {
    width: 100vw;
  }
  .sm-contenido {
    padding: 20px;
  }
  .sm-contenido img {
    width: 50px;
    margin: 10px;
  }
  .logos {
    font-size: 12px;
  }
  .portafolio {
    padding: 0;
  }
  .cont-proyecto {
    width: 90%;
  }
  .img-pro-zoom {
    display: none;
  }
  .cont-pro-sup img:hover {
    opacity: 1;
  }
  .contacto {
    padding: 15px 0px;
  }
  form {
    width: 90%;
  }
  .form div {
    margin: 20px;
  }
  input,
  textarea {
    margin: 30px 0;
  }
  .footer {
    padding: 20px 0;
  }
  .marca {
    margin-bottom: 30px;
  }
  .marca h2 {
    font-size: 30px;
  }
  .social-media-icon {
    width: 50px;
    height: 50px;
  }
  .social-media-icon i {
    font-size: 22px;
    line-height: 50px;
  }
  .linea {
    margin-bottom: 20px;
  }
}

/* HASTA 320PX */
@media screen and (max-width: 320px) {
  .ani-portada {
    font-size: 7px;
  }
  .btn-menu {
    top: 5px;
    right: 5px;
  }
  .btn-cerrar {
    top: 5px;
    right: 5px;
  }
  .sm-foto img {
    width: 90vw;
    margin: 20px 0px;
  }
  .sm-contenido {
    padding: 15px;
  }
  .sm-contenido img {
    width: 40px;
    margin: 10px;
  }
  .logos {
    font-size: 10px;
  }
  .portafolio h2 {
    padding-top: 30px;
  }
  .form div {
    margin: 10px;
  }
  .social-media-icon {
    width: 40px;
    height: 40px;
  }
  .social-media-icon i {
    font-size: 20px;
    line-height: 40px;
  }
}
